---
import Layout from "../layouts/Layout.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 4);

const projects = [
  {
    name: "Unicove",
    url: "https://unicove.com/",
  },
  {
    name: "Anchor Android",
    url: "https://greymass.com/anchor",
  },
  {
    name: "WharfKit.com",
    url: "https://wharfkit.com",
  },
  {
    name: "WharfKit UI",
    url: "https://github.com/wharfkit/web-renderer",
  },
  {
    name: "Greymass.com",
    url: "https://greymass.com",
  },
  {
    name: "Brincao.com.br",
    url: "https://www.brincao.com.br",
  },
];
---

<Layout>
  <main>
    <p>
      I'm a Frontend Developer at
      <a href="https://greymass.com">Greymass</a>
      - coding, designing, and tinkering.
    </p>

    <section id="projects">
      <p>
        You can find me on <a href="https://github.com/deansallinen">Github</a> where
        I've been working on things like:
      </p>

      <ul>
        {
          projects.map((project) => (
            <li>
              <a href={project.url}>
                {project.name}
                <svg viewBox="0 0 24 24" width="16" height="16">
                  <use href="#outbound" />
                </svg>
              </a>
            </li>
          ))
        }
      </ul>
    </section>

    <section id="posts">
      <p>Recent writing</p>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/wrote/${post.slug}/`}>
                <FormattedDate date={post.data.pubDate} /> - {post.data.title}
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>

<style>
  #projects ul a {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    max-width: fit-content;
  }
</style>
